<div class="container content">
    <div class="row">
        <div class="col-md-4">
            Hola
        </div>
        <div class="col-md-4">
            Mundo!
        </div>
    </div>
</div>
